<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <style> 
        spanme { 
            display: inline;  
            background-color: #2C001E; 
            color: white; 
            padding: 10px; 
            }
    </style> 
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          I am currently working in the field of <b>theoretical physical chemistry</b> and <b>machine learning</b> 
          in the group of <i>Prof. Alexandre Tkatchenko</i> at the 
          <a href="https://www.tcpunilu.com/" style="color:#FFFFFF;">University of Luxemburg</a>. I investigate the mechanism of 
          (light-induced) isomerization reactions by means of computational chemistry and machine learning methods. 
          My research is dedicated to the development and application of systematic hierarchy
          of efficient machine learning based methods for predicting the changes in vibrational and 
          electronic absorption spectra upon (photo-)isomerization.
        </p>
        <br><br>
        <center>
        <ul class="list-inline">
          <li><p><spanme><i class="fa-solid fa-paw" style="font-size:24px;color:#ffffff;"></i>&nbsp Computational Chemistry </spanme></p></li>
            <br><br>
          <li><p><spanme><i class="fa-solid fa-paw" style="font-size:24px;color:#ffffff;"></i>&nbsp Molecular Dynamics </spanme></p></li>
            <br><br>
          <li><p><spanme><i class="fa-solid fa-paw" style="font-size:24px;color:#ffffff;"></i>&nbsp Machine Learning </spanme></p></li>
            <br><br>
          <li><p><spanme><i class="fa-solid fa-paw" style="font-size:24px;color:#ffffff;"></i>&nbsp Isomerization </spanme></p></li>
        </ul>
        </center>
      </div>
      <div class="col-lg-4">
        <p>
          With my previous experience in the field of spectroscopy and data science, many of my research projects 
          are based on a combination of <b>spectroscopic</b> (<i>e.g.</i>, resonance Ramann, (transient) absorption 
          and (time-resolved) emission spectroscopy, and spectro-electrochemistry), <b>computational chemistry</b> 
          (<i>e.g.</i>, TD-DFT predictions of state specific ground and excited state properties) and 
          <b>cheminformatics</b> methods (<i>e.g.</i>, SVD, MCR and global/target lifetime analysis).
        </p>
        <br><br>
        <center>
            <p><spanme><i class="fa-solid fa-lightbulb" style="font-size:24px;color:#ffffff;"></i>&nbsp Spectroscopy</spanme></p>
            <br>
            <p>• Steady-state and time-resolved Spectroscopy • Spectro-electrochemistry • Operando Spectroscopy •</p>
            <br>
            <p><spanme><i class="fa-solid fa-computer" style="font-size:24px;color:#ffffff;"></i>&nbsp Spectroscopy</spanme></p>
            <br>
            <p>• DFT & TD-DFT • CASSCF • Molecular/Quantum Dynamics •</p>
            <br>
            <p><spanme><i class="fa-solid fa-database" style="font-size:24px;color:#ffffff;"></i>&nbsp Spectroscopy</spanme></p>
            <br>
            <p>• Kinetic Modelling of time-resolved spectra (<a href="https://github.com/erdzeichen/KiMoPack" style="color:#ffffff;">KiMoPack</a>) •</p>
        </center>
      </div>
    </div>
    <br>
    <!-- <div class="row">
      <div class="col-lg-12 text-center">
        <a href="/research/" class="btn btn-lg btn-success" style="background-color:#2C001E;"><i class="fa-solid fa-flask" style="color:#FFFFFF;"></i>&nbsp Research Areas</a>
      </div>
    </div> -->
  </div>
</section>
