<!-- Header -->
<section id="schedule"> </section>
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <img class="img-responsive" src="https://raw.githubusercontent.com/carolin-m/carolin-m.github.io/main/img/carolin_doering_ipht.png" alt="Dr. Carolin Müller" />
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-3">
            <p><b>Full Name</b></p>
          </div>
          <div class="col-lg-6">
            <p>Carolin Müller</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p><b>Date of Birth</b></p>
          </div>
          <div class="col-lg-6">
            <p>04<sup><i>th</i></sup> of January 1995 </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <p><b>Languages</b></p>
          </div>
          <div class="col-lg-6">
            <p>German (native), English (C1), Japanese (JLPT-N5)</p>
          </div>
        </div>
      </div>
    </div>
</section>

<style> 
    span { 
        display: inline;  
        background-color: #2C001E; 
        color: white; 
        padding: 10px; 
    } 
</style> 

<!-- education -->
{% for item in site.categories.cv %}
  {% if item.education %}
    <section class="success" id="schedule-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Education and Scientific Career</h2>
            <br><br>
          </div>
        </div>
        {% for event in item.education %}
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <!-- <p><a class="btn btn-lg btn-success" style="background-color:#2C001E;">{{ event.when }}</a></p>-->
              <br>
              <p><span>{{ event.when }}</span></p>
              <br>
            </div>
            <div class="col-lg-6">
              <h4>{{ event.what }}</h4>
              <p>{{ event.where }}</p>
                {% if event.descr %}
                  <ul style="font-size:20px">
                    {% for point in event.descr %}
                    <li>{{ point }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  <!-- Awards -->
  {% if item.awards %}
    <section id="awards-no-color">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2>Fellowships & Awards</h2>
          <br><br>
        </div>
        {% for event in item.awards %}
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <!-- <p><a class="btn btn-lg btn-success" style="background-color:#2C001E;">{{ event.when }}</a></p>-->
              <br>
              <p><span>{{ event.when }}</span></p>
              <br>
            </div>
            <div class="col-lg-6">
              <h4>{{ event.what }}</h4>
              <p>{{ event.where }}</p>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  <!-- service -->
  {% if item.service %}
    <section class="success" id="schedule-color">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h3>Services to Home Institution and Scientific Community</h3>
          <br><br>
        </div>
        {% for event in item.service %}
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <!-- <p><a class="btn btn-lg btn-success" style="background-color:#2C001E;">{{ event.when }}</a></p>-->
              <br>
              <p><span>{{ event.when }}</span></p>
              <br>
            </div>
            <div class="col-lg-6">
              <h4>{{ event.what }}</h4>
              <p>
                  <i>{{ event.where }}</i>
              </p>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </section>
  {% endif %}
  <!-- member -->
  {% if item.membership %}
    <section id="member-no-color">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h3>Memberships</h3>
          <br><br>
        </div>
        {% for event in item.membership %}
          <div class="row">
            <div class="col-lg-3 col-lg-offset-2">
              <br>
              <p><span>{{ event.when }}</span></p>
              <br>
            </div>
            <div class="col-lg-6">
              <h4>{{ event.where }}</h4>
              <ul style="font-size:20px">
                {% for point in event.info %}
                <li>{{ point }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}
