<!-- Header -->
<section id="schedule"> </section>
<section id="schedule">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>
  </div>
</section>

<style> 
    span { 
        display: inline;  
        background-color: #2C001E; 
        color: white; 
        padding: 10px; 
    } 
</style> 

<!-- Timetable day-by-day -->
{% for item in site.categories.cv %}
  {% if item.education %}
    <section class="success" id="schedule-color">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Education and Scientific Career</h2>
            <br><br>
          </div>
        </div>
        {% for event in item.education %}
          <div class="row">
            <div class="col-lg-2 col-lg-offset-2">
              <!-- <p><a class="btn btn-lg btn-success" style="background-color:#2C001E;">{{ event.when }}</a></p>-->
              <br><br>
              <p><span>{{ event.when }}</span></p>
            </div>
            <div class="col-lg-6">
              <h4>{{ event.what }}</h4>
              <p>{{ event.where }}</p>
                {% if event.descr %}
                  <ul><p>
                    {% for point in event.descr %}
                    <li>{{ point }}</li>
                    {% endfor %}
                  </p></ul>
                {% endif %}
            </div>
          </div>
          <br>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}
<!-- Awards -->
{% for item in site.categories.cv %}
  {% if item.awards %}
    <section id="awards-no-color">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h2>Fellowships & Awards</h2>
          <br><br>
        </div>
        {% for a in item.awards %}
          <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
              <p>{{ a.time }}</p>
            </div>
            <div class="col-lg-7">
              <p>{{ a.descr }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}
<!-- service -->
{% for item in site.categories.cv %}
  {% if item.service %}
    <section class="success" id="schedule-color">
      <div class="container">
        <div class="col-lg-12 text-center">
          <h3>Services to Home Institution and Scientific Community</h3>
          <br><br>
        </div>
        {% for s in item.service %}
          <div class="row">
            <div class="col-lg-2 col-lg-offset-1">
              <p>{{ s.time }}</p>
            </div>
            <div class="col-lg-7">
              <p>{{ s.descr }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
  {% endif %}
{% endfor %}
