<!-- Teaching -->
<!-- <section></section> -->
<section id="teaching">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Career & Mentoring</h3>
        <hr class="star-primary">
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Research Landscape in Germany and Career Paths</h4>
        <br>
        <div class="col-lg-4 col-lg-offset-2">
          <p>
            <a href="../docs/Talk_yISPPCC_pw.pdf">📚 Presentation Slides</a><br>
            <a href="../docs/handout_career_path_25072023.pdf">📑 Handout: Career Roadmap 🗺️</a> (open access, CC BY 4.0)<br>
          </p>
        </div>
        <div class="col-lg-4">
          <img class="img-responsive" src='https://raw.githubusercontent.com/carolin-m/carolin-m.github.io/main/img/path_handout.png'>
        </div>
      </div>
    </div>
  </div>
</section>
