<!-- Teaching -->
<style>
    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
</style>

<!-- <section></section> -->
<section id="teaching" class="success">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Quantum Chemistry</h3>
        <hr class="star-light">
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Molecules and Light</h4>
        <br>
        <div class="col-lg-4 col-lg-offset-2">
          <p>
            <a href="../docs/Molecules_and_Light_Mueller_pw.pdf">📚 Methods for Excited States - Part 1</a><br>
          </p>
        </div>
        <div class="col-lg-4">
          <img class="img-responsive" src='https://raw.githubusercontent.com/carolin-m/carolin-m.github.io/main/img/butene_PES.png'>
        </div>
      </div>
    </div>
  </div>
</section>
