body {
  font-family: Gotham Rounded;
  background-color:#00062b;
  margin:0;
}


#grid-1 {
  display:grid;
  grid-gap:10px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  color:white;
}

#item-1 {
   background-color:#001533;
}

#item-2 {
   background-color:#002760;
}

#item-3 {
   background-color:#00388c;
}

#item-4 {
   background-color:#0048b5;
}

#item-5 {
   background-color:#005ce8;
}

#item-6 {
   background-color:#609fff;
}

#item-7 {
   background-color:#8ebbff;
}

#item-8 {
   background-color:#b7d4ff;
}

#item-9 {
   background-color:#e2eeff;
}

#rows-col {
   background-color:white;
}
