<!DOCTYPE html>
<html>
{% include head.html %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="adventstyle.css">
</head>
  
<body id="page-top" class="index">
  {% include nav.html %}
  
<style>
  body {
    background: url(https://raw.githubusercontent.com/carolin-m/carolin-m.github.io/main/img/christmas_BG1.png) no-repeat top center #FFFFFF;
    background-size: cover;
  }
  
</style>

<article>

  <div class='support-grid'></div>
  <section class="grid-1">
    <div class='title'>
      <img src='https://raw.githubusercontent.com/carolin-m/carolin-m.github.io/main/img/X-mas-calendar_BG.png' width="100">
    </div>
    <div class='day-1'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>1</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-1.html" target="_blank" title="Link of Day 1"> Day-1 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-2'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>2</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-2.html" target="_blank" title="Link of Day 2"> Day-2 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-3'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>3</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-3.html" target="_blank" title="Link of Day 3"> Day-3 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-4'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>4</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-4.html" target="_blank" title="Link of Day 4"> Day-4 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-5'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>5</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-5.html" target="_blank" title="Link of Day 5"> Day-5 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-6'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>6</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-6.html" target="_blank" title="Link of Day 6"> Day-6 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-7'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>7</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-7.html" target="_blank" title="Link of Day 7"> Day-7 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-8'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>8</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-8.html" target="_blank" title="Link of Day 8"> Day-8 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-9'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>9</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-9.html" target="_blank" title="Link of Day 9"> Day-9 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-10'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>10</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-10.html" target="_blank" title="Link of Day 10"> Day-10 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-11'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>11</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-11.html" target="_blank" title="Link of Day 11"> Day-11 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-12'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>12</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-12.html" target="_blank" title="Link of Day 12"> Day-12 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-13'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>13</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-13.html" target="_blank" title="Link of Day 13"> Day-13 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-14'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>14</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-14.html" target="_blank" title="Link of Day 14"> Day-14 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-15'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>15</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-15.html" target="_blank" title="Link of Day 15"> Day-15 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-16'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>16</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-16.html" target="_blank" title="Link of Day 16"> Day-16 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-17'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>17</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-17.html" target="_blank" title="Link of Day 17"> Day-17 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-18'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>18</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-18.html" target="_blank" title="Link of Day 18"> Day-18 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-19'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>19</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-19.html" target="_blank" title="Link of Day 19"> Day-19 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-20'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>20</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-20.html" target="_blank" title="Link of Day 20"> Day-20 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-21'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>21</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-21.html" target="_blank" title="Link of Day 21"> Day-21 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-22'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>22</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-22.html" target="_blank" title="Link of Day 22"> Day-22 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-23'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>23</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-23.html" target="_blank" title="Link of Day 23"> Day-23 </a>
        </div>
        </input>
      </label>
    </div>
    <div class='day-24'>
      <label>
        <input type='checkbox'>
          <div class='door'>
            <div class='front'>24</div>
            <div class='back'></div>
          </div>
        <div class="title-container"><a href="https://carolin-m.github.io/calendar/day-24.html" target="_blank" title="Link of Day 24"> Day-24 </a>
        </div>
        </input>
      </label>
    </div>
  </section>

</article>

  {% include footer.html %}
  {% include modals.html %}
  {% include js.html %} 
</body>

</html>
