<!DOCTYPE html>
<html>
{% include head.html %}

<body id="page-top" class="index">
  
  {% include nav.html %}
  <section id="post">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <br><br>
          <h3>{{ page.title }}</h3>
          <p>{{ page.date }} | Reading time: {{ page.readtime }}</p>
          <br>
          <hr class="star-primary">
          <br><br>
        </div>
      </div>
      <!-- content -->
      <div class="wrapper">
        <div class="content">
          <section class="main">
            {{ content }}
          </section>
          <div class="left-margin"></div>
          <div class="right-margin"></div>
        </div>
      </div>
    </div>
  </section>
  
  {% include footer.html %}
  {% include js.html %}
</body>
</html>
